<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <style>
        .time {
            background-color: rgb(153, 153, 244);
            color: pink;
            padding: 12px;
            border-radius: 12px;
            display: inline-block;
            width: 500px;
        }
    </style>
</head>

<body>
    <h1>Hello {{name}}!</h1>
    <h2 class="time">現在時間：{{now}}</h2>

</body>

</html>